<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Account history</title>
</head>
<body>
<h1>Acount History</h1>

<div id="main" th:unless="${#lists.isEmpty('transfers')}">
    <table>
        <thead>
        <tr>
            <th>No</th>
            <th>Date</th>
            <th>Account From</th>
            <th>Acocunt To</th>
            <th>Amount</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="transfer, transferStat : ${transfers}">
            <td th:text="${transferStat.count}"></td>
            <td th:text="${transfer.operationDate}">1/3/2018</td>
            <td th:text="${transfer.fromAccountNumber}">ABC</td>
            <td th:text="${transfer.toAccountNumber}">CDE</td>
            <td th:text="${transfer.amount}">230</td>
        </tr>
        </tbody>
    </table>

</div>
</body>
</html>