<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Welcome to Adam's Bank</title>
</head>
<body>
<h1>Welcome to Adam's Bank</h1>
<a th:href="@{/transfer}">Transfer money</a><br/>
<a th:href="@{/history}">View account history</a>
</body>
</html>