<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{transferSuccess.title}">Transfer Successful</title>
    <style>
        .transfer-entry{
            padding-top: 2px;
            padding-bottom: 2px;
            margin-left: 15px;
        }
    </style>
</head>
<body>
<h1 th:text="#{transferSuccess.title}">Transfer Successful</h1>
<h2 th:text="#{transferSuccess.congratulations}">Congratulations</h2>
<div>
<span th:text="#{transferSuccess.operationDate}" class="transfer-entry"></span>
    <span th:field="${transferInformation.operationDate}" class="transfer-entry"></span>
</div>
<div>
<span th:text="#{transferSuccess.transferFrom}" class="transfer-entry"></span>
    <span th:text="${transferInformation.fromAccountNumber}" class="transfer-entry"></span>
</div>
<div>
    <span th:text="#{transferSuccess.transferTo}" class="transfer-entry"></span>
    <span th:text="${transferInformation.toAccountNumber}" class="transfer-entry"></span>
</div>
<div>
    <span th:text="#{transferSuccess.amount}" class="transfer-entry"></span>
    <span th:text="${transferInformation.amount}" class="transfer-entry"></span>
</div>
</body>
</html>