<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{transfer.title}">Transfer Your cash</title>
    <style>

        input.error {
            border-color:red;
        }
        span.error {
            color:red;
            display: block;
        }
    </style>
</head>
<body>
<h1 th:text="#{transfer.title}">Transfer Your cash</h1>
<form th:action="@{/transfer}" th:object="${transferRequest}" method="POST">
    <label th:text="#{transfer.form.accountFrom}" th:for="${#ids.next('accountFromNumber')}" >Account From:</label>
    <input type="text" th:field="*{accountFromNumber}" th:errorclass="error"/>
    <span th:if="${#fields.hasErrors('accountFromNumber')}" th:errors="*{accountFromNumber}" class="error">Account From is incorrect</span>
    <br/>
    <label th:text="#{transfer.form.accountTo}" th:for="${#ids.next('accountToNumber')}">Account To:</label>
    <input type="text" th:field="*{accountToNumber}" th:errorclass="error"/>
    <span th:if="${#fields.hasErrors('accountToNumber')}" th:errors="*{accountToNumber}" class="error">Account To is incorrect</span>
    <br/>
    <label th:text="#{transfer.form.amount}" th:for="${#ids.next('amount')}" >Amount:</label>
    <input type="text" th:field="*{amount}" th:errorclass="error"/>
    <span th:if="${#fields.hasErrors('amount')}" th:errors="*{amount}" class="error">Amount is incorrect</span>
    <br/>
    <button type="submit" th:text="#{transfer.submit}">Submit</button>
</form>

</body>
</html>